<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid justify-content-center"> 
      
        <a class="navbar-toggler btn btn-light border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-list me-2 icon-color-orange fa-2x"></i> 
        </a> 

        <div class="d-grid gap-4"> 
            
            <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo02">

                <a class="navbar-brand">
                    <img src="" style="width: 100px;" alt="" loading="lazy">
                </a> 

                <ul class="navbar-nav mb-2 mb-lg-0 mx-4">

                    <li class="nav-item">
                        <a class="nav-link fs-5" href="\">
                            <i class="fas fa-home me-2"></i>home
                        </a>
                    </li>

                    <div class="vr me-2"></div>

                    <li class="nav-item">
                        <a class="nav-link fs-5" href="#Contato"> 
                            <i class="fas fa-address-book me-2"></i>Contato
                        </a>
                    </li>

                    <div class="vr me-2"></div>

                    <li class="nav-item">
                        <a class="nav-link fs-5" href="#Lista"> 
                            <i class="fas fa-list me-2"></i>Lista
                        </a>
                    </li>
                    
                </ul>

				<form class="d-flex" role="search">
					<input class="form-control border border-secundary me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
			 	</form>  

                <button class="btn btn-dark btn-lg rounded-4 fw-bold">
                    <i class="fab fa-whatsapp me-2"></i> WHATSAPP 
                </button>  
                 
            </div>  
        </div>
    </div>
 
  </nav>